In [1]:
import numpy as np
import pandas as pd

In [8]:
inbound = pd.read_csv('../Data/Inbound.csv')
outbound = pd.read_csv('../Data/Outbound.csv')
inventory = pd.read_csv('../Data/Inventory.csv')
operation = pd.read_csv('../Data/OperationCost.csv')
material = pd.read_csv('../Data/MaterialMaster.csv')

In [16]:
inventory

,BALANCE_AS_OF_DATE,PLANT_NAME,MATERIAL_NAME,BATCH_NUMBER,UNRESRICTED_STOCK,STOCK_UNIT,STOCK_SELL_VALUE,CURRENCY
0,12/31/2023,CHINA-WAREHOUSE,MAT-0045,SCRAP,164,KG,211,CNY
1,12/31/2023,CHINA-WAREHOUSE,MAT-0193,6024,0,KG,87666,CNY
2,12/31/2023,CHINA-WAREHOUSE,MAT-0193,5755,70720,KG,414419,CNY
3,12/31/2023,CHINA-WAREHOUSE,MAT-0193,3142,12240,KG,71726,CNY
4,12/31/2023,CHINA-WAREHOUSE,MAT-0193,6734,2720,KG,15939,CNY
...,...,...,...,...,...,...,...,...
28323,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0172,M2299A,74250,KG,20790,SGD
28324,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0172,M3493A,15125,KG,4235,SGD
28325,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0191,K1286,325,KG,617500,SGD
28326,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0191,K8761,3000,KG,5700000,SGD
28327,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0191,K7324,750,KG,1425000,SGD

In [15]:
scrap_rows = inventory[inventory['BATCH_NUMBER'] == 'SCRAP']
scrap_rows

,BALANCE_AS_OF_DATE,PLANT_NAME,MATERIAL_NAME,BATCH_NUMBER,UNRESRICTED_STOCK,STOCK_UNIT,STOCK_SELL_VALUE,CURRENCY
0,12/31/2023,CHINA-WAREHOUSE,MAT-0045,SCRAP,164,KG,211,CNY
5,12/31/2023,CHINA-WAREHOUSE,MAT-0311,SCRAP,4142,KG,25018,CNY
32,12/31/2023,CHINA-WAREHOUSE,MAT-0194,SCRAP,100,KG,314,CNY
33,12/31/2023,CHINA-WAREHOUSE,MAT-0257,SCRAP,5151,KG,10457,CNY
83,12/31/2023,CHINA-WAREHOUSE,MAT-0258,SCRAP,10048,KG,58879,CNY
...,...,...,...,...,...,...,...,...
14681,12/31/2024,CHINA-WAREHOUSE,MAT-0187,SCRAP,544,KG,506,CNY
14828,12/31/2024,CHINA-WAREHOUSE,MAT-0214,SCRAP,535,KG,3439,CNY
14834,12/31/2024,CHINA-WAREHOUSE,MAT-0300,SCRAP,1300,KG,4082,CNY
15269,12/31/2024,CHINA-WAREHOUSE,MAT-0280,SCRAP,11,KG,72,CNY
15321,12/31/2024,CHINA-WAREHOUSE,MAT-0282,SCRAP,339,KG,4869,CNY

In [18]:
# Inventory + Material Master
df_inventory_material = pd.merge(inventory, material, on='MATERIAL_NAME', how='left') 
df_inventory_material

,BALANCE_AS_OF_DATE,PLANT_NAME,MATERIAL_NAME,BATCH_NUMBER,UNRESRICTED_STOCK,STOCK_UNIT,STOCK_SELL_VALUE,CURRENCY,POLYMER_TYPE,SHELF_LIFE_IN_MONTH,DOWNGRADE_VALUE_LOST_PERCENT
0,12/31/2023,CHINA-WAREHOUSE,MAT-0045,SCRAP,164,KG,211,CNY,P-002,10,30
1,12/31/2023,CHINA-WAREHOUSE,MAT-0193,6024,0,KG,87666,CNY,P-001,4,5
2,12/31/2023,CHINA-WAREHOUSE,MAT-0193,5755,70720,KG,414419,CNY,P-001,4,5
3,12/31/2023,CHINA-WAREHOUSE,MAT-0193,3142,12240,KG,71726,CNY,P-001,4,5
4,12/31/2023,CHINA-WAREHOUSE,MAT-0193,6734,2720,KG,15939,CNY,P-001,4,5
...,...,...,...,...,...,...,...,...,...,...,...
28323,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0172,M2299A,74250,KG,20790,SGD,P-001,6,10
28324,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0172,M3493A,15125,KG,4235,SGD,P-001,6,10
28325,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0191,K1286,325,KG,617500,SGD,P-002,10,20
28326,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0191,K8761,3000,KG,5700000,SGD,P-002,10,20
28327,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0191,K7324,750,KG,1425000,SGD,P-002,10,20

In [ ]:
# Total of scrap batches in inventory
scrap_batches = df_inventory_material[df_inventory_material['BATCH_NUMBER'] == 'SCRAP']
print(f"Total scrap batches: {len(scrap_batches)}")

Total scrap batches: 262

In [27]:
# Unique batches per material 
grouped = df_inventory_material.groupby('MATERIAL_NAME')['BATCH_NUMBER'].unique().reset_index()

grouped['NUM_BATCHES'] = grouped['BATCH_NUMBER'].apply(len)

grouped

,MATERIAL_NAME,BATCH_NUMBER,NUM_BATCHES
0,MAT-0001,"[V8111A, V6573A, V3022A, V8378A, V9426A, V5047...",63
1,MAT-0002,"[N9650A, N2130A, N4284A, N7330A, N2588A, N5383...",10
2,MAT-0003,"[7795, 8045, 3466, 5422, 3882, 2397, 5767, 554...",9
3,MAT-0004,"[V3262A, V9383A, V8928C, V2541A, V9606A, V6032...",7
4,MAT-0005,"[L7966A, L1883A, L8442A]",3
...,...,...,...
426,MAT-0427,[P8773A],1
427,MAT-0428,"[R7762A, R7924A, R3390A, R4624A, R6433A, R3367...",11
428,MAT-0429,[V9006A],1
429,MAT-0430,"[6940, 2902, 1273, 9387, 7348, 4162, 1456, 753...",15
430,MAT-0431,"[3257, 6090]",2

In [30]:
print("Inbound =: \n", inbound.isnull().sum())
print("\n")
print("Inventory =: \n", inventory.isnull().sum())
print("\n")
print("Material =: \n", material.isnull().sum())
print("\n")
print("Operation =: \n", operation.isnull().sum())
print("\n")
print("Outbound =: \n", outbound.isnull().sum())

Inbound =:
 INBOUND_DATE       0
PLANT_NAME         0
MATERIAL_NAME      0
NET_QUANTITY_MT    0
dtype: int64


Inventory =:
 BALANCE_AS_OF_DATE    0
PLANT_NAME            0
MATERIAL_NAME         0
BATCH_NUMBER          1
UNRESRICTED_STOCK     0
STOCK_UNIT            0
STOCK_SELL_VALUE      0
CURRENCY              0
dtype: int64


Material =:
 MATERIAL_NAME                   0
POLYMER_TYPE                    0
SHELF_LIFE_IN_MONTH             0
DOWNGRADE_VALUE_LOST_PERCENT    0
dtype: int64


Operation =:
 Operation                  0
Plant/Mode of Transport    0
Cost                       0
Currency                   0
dtype: int64


Outbound =:
 OUTBOUND_DATE        0
PLANT_NAME           0
MODE_OF_TRANSPORT    0
MATERIAL_NAME        4
CUSTOMER_NUMBER      0
NET_QUANTITY_MT      0
dtype: int64

In [31]:
inventory_cleaned = inventory.dropna(subset=['BATCH_NUMBER'])
material_cleaned = material.dropna(subset=['MATERIAL_NAME'])

print("Inventory =: \n", inventory_cleaned.isnull().sum())
print("Material =: \n", material_cleaned.isnull().sum())

Inventory =:
 BALANCE_AS_OF_DATE    0
PLANT_NAME            0
MATERIAL_NAME         0
BATCH_NUMBER          0
UNRESRICTED_STOCK     0
STOCK_UNIT            0
STOCK_SELL_VALUE      0
CURRENCY              0
dtype: int64
Material =:
 MATERIAL_NAME                   0
POLYMER_TYPE                    0
SHELF_LIFE_IN_MONTH             0
DOWNGRADE_VALUE_LOST_PERCENT    0
dtype: int64

In [34]:
# group in bound as per date, plant, and material
in_group = inbound.groupby(['INBOUND_DATE', 'PLANT_NAME', 'MATERIAL_NAME']).agg(
    total_quantity_mt=pd.NamedAgg(column='NET_QUANTITY_MT', aggfunc='sum')
).reset_index()

in_group

     INBOUND_DATE           PLANT_NAME MATERIAL_NAME  total_quantity_mt
0      2023/11/03      CHINA-WAREHOUSE      MAT-0237            297.000
1      2023/11/07  SINGAPORE-WAREHOUSE      MAT-0085             23.375
2      2023/11/07  SINGAPORE-WAREHOUSE      MAT-0116             46.750
3      2023/11/07  SINGAPORE-WAREHOUSE      MAT-0309             49.500
4      2023/11/09      CHINA-WAREHOUSE      MAT-0009             62.400
...           ...                  ...           ...                ...
2116   2024/12/22      CHINA-WAREHOUSE      MAT-0339             25.500
2117   2024/12/24      CHINA-WAREHOUSE      MAT-0042             99.000
2118   2024/12/24      CHINA-WAREHOUSE      MAT-0118            247.500
2119   2024/12/24      CHINA-WAREHOUSE      MAT-0232             99.000
2120   2024/12/24      CHINA-WAREHOUSE      MAT-0265            148.500

[2121 rows x 4 columns]

In [35]:
# group out bound as per date, plant, and material
out_group = outbound.groupby(['OUTBOUND_DATE','PLANT_NAME', 'MATERIAL_NAME']).agg(
    total_quantity_mt=pd.NamedAgg('NET_QUANTITY_MT', 'sum')
).sort_values(by='OUTBOUND_DATE').reset_index()

out_group

      OUTBOUND_DATE           PLANT_NAME MATERIAL_NAME  total_quantity_mt
0        2023/12/06  SINGAPORE-WAREHOUSE      MAT-0050             99.000
1        2023/12/31  SINGAPORE-WAREHOUSE      MAT-0056             49.500
2        2023/12/31  SINGAPORE-WAREHOUSE      MAT-0210              6.875
3        2023/12/31  SINGAPORE-WAREHOUSE      MAT-0303              2.500
4        2023/12/31  SINGAPORE-WAREHOUSE      MAT-0345              1.250
...             ...                  ...           ...                ...
11842    2024/12/31      CHINA-WAREHOUSE      MAT-0015             24.750
11843    2024/12/31      CHINA-WAREHOUSE      MAT-0001             51.000
11844    2024/12/31      CHINA-WAREHOUSE      MAT-0356             11.000
11845    2025/01/01  SINGAPORE-WAREHOUSE      MAT-0172             49.500
11846    2025/01/02  SINGAPORE-WAREHOUSE      MAT-0012             24.750

[11847 rows x 4 columns]

In [40]:
initial_inv = inventory.groupby(['BALANCE_AS_OF_DATE', 'PLANT_NAME', 'MATERIAL_NAME']).agg(
    InitialInv=('UNRESRICTED_STOCK', 'sum')
).reset_index()
initial_inv

     BALANCE_AS_OF_DATE           PLANT_NAME MATERIAL_NAME  InitialInv
0             1/31/2024      CHINA-WAREHOUSE      MAT-0001     2225625
1             1/31/2024      CHINA-WAREHOUSE      MAT-0002        1175
2             1/31/2024      CHINA-WAREHOUSE      MAT-0003      112540
3             1/31/2024      CHINA-WAREHOUSE      MAT-0004       83925
4             1/31/2024      CHINA-WAREHOUSE      MAT-0006        3850
...                 ...                  ...           ...         ...
5064          9/30/2024  SINGAPORE-WAREHOUSE      MAT-0422        4100
5065          9/30/2024  SINGAPORE-WAREHOUSE      MAT-0423       44000
5066          9/30/2024  SINGAPORE-WAREHOUSE      MAT-0424      445400
5067          9/30/2024  SINGAPORE-WAREHOUSE      MAT-0426       25500
5068          9/30/2024  SINGAPORE-WAREHOUSE      MAT-0428      710450

[5069 rows x 4 columns]